<div class="container">
	<div class="search-block">
		<h1 class="search-block__head">Search for books</h1>
		<div class="input">
				<input type="search" id="site-search" name="q" aria-label="Search through site content" placeholder="Book search...">
			<button>Search</button>	
		</div>
	</div>
	<div class="found-block">
		<h3 class="found-block__head">found 446 results</h3>
			<div class="list-output">
				<mat-card class="example-card">
					<div class="example-card__img">
						<img mat-card-lx-image src="../assets/images/product/node.js.jpg" alt="">
					</div>
					<mat-card-content>
						<mat-card-title>
						Node.js Работка сервисных веб приложений на JavaScript
						</mat-card-title>
					</mat-card-content>
					<mat-card-actions>
					<button mat-button>LIKE</button>
					<button mat-button>SHARE</button>
					</mat-card-actions>
				</mat-card>

				<mat-card class="example-card">
					<div class="example-card__img">
						<img mat-card-image src="../assets/images/product/node.js3.jpg" alt="">
					</div>
					<mat-card-content>
						<mat-card-title>
							Node.js. Путеводитель по технологии
						</mat-card-title>
						<mat-card-subtitle>Дэвид Херон</mat-card-subtitle>
					</mat-card-content>
					<mat-card-actions>
					<button mat-button>LIKE</button>
					<button mat-button>SHARE</button>
					</mat-card-actions>
				</mat-card>

				<mat-card class="example-card">
					<div class="example-card__img">
						<img mat-card-image src="../assets/images/product/node.js2.jpg" alt="">
					</div>
					<mat-card-content>
						<mat-card-title>
						Node.js в действии 2 издание
						</mat-card-title>
						<mat-card-subtitle>Дэвид Херон</mat-card-subtitle>
					</mat-card-content>
					<mat-card-actions>
					<button mat-button>LIKE</button>
					<button mat-button>SHARE</button>
					</mat-card-actions>
				</mat-card>

				<mat-card class="example-card">
					<div class="example-card__img">
						<img mat-card-image src="../assets/images/product/2355775163_w600_h600_2355775163.jpg" alt="">
					</div>
					<mat-card-content>
						<mat-card-title>
						
						</mat-card-title>
						<mat-card-subtitle>Дэвид Херон</mat-card-subtitle>
					</mat-card-content>
					<mat-card-actions>
					<button mat-button>LIKE</button>
					<button mat-button>SHARE</button>
					</mat-card-actions>
				</mat-card>
			</div>
				<button mat-raised-button>Load more</button>
	</div>	
</div>